body {
    font-family: Arial, sans-serif;
}

.users-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.user-block {
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 8px;
}